body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper{
    background-image: url(../assets/background.jpg);
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.header-wrapper{
    height: 90px;
}

header{
    padding:30px 60px 60px 60px;
    /* nu vrei margin aici sa te asiguri ca logo este aliniat cu cele 2 titluri */
    /* margin-left: 50px; */
    /* margin-right: 100px; */
}

.logo-container{
    float: left;
    width: 100px;
    height: 50px;
}

.logo-container img{
    height: 30px;
    width: auto;
}

a {
    padding: 10px;
    color: #fff;
    width:85px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-family:Verdana, Georgia, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.sign-up{
    color:blue;
    background-color:#fff;
    border-radius: 20px;
}

a:hover{
    color:#acfdfe;
}

.title{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 45px;
    font-family:  Arial, Verdana, Arial, sans-serif;
    margin:100px 0 30px 0;
    font-weight: bold;
}

h2{
    font-weight: 25;
    letter-spacing: 30px;
    font-family: 'Open Sans', Georgia, Arial, sans-serif;
    font-size: 65px;
    color: #acfdfe;
} 

.title::after{
    content: "";
    width: 350px;
    height: 2px;
    background: #acfdfe;
    display: inline-block;
    vertical-align: middle;
}

p{
    color: #acfdfe;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', Georgia, Arial, sans-serif;
    font-weight: 100;
    opacity: 0.8;
}

#description{
    margin: auto;
    width: 55%;
}

/* for the contact page */

[page="contact"] .wrapper{
    height: 27%;
    max-width: 100%;
}

.contact-wrapper{
    display: flex;
    width: 100%;
}

.contact-container{
    padding-left: 60px;
}

.contact-container .contact{
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Open Sans', Georgia, sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

.contact::after{
    content: "";
    width: 300px;
    height: 1px;
    background: #acfdfe;
    display: inline-block;
    vertical-align: super;
    opacity: 0.7;
}

.description div:first-child{
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', Georgia, Arial, sans-serif;
    opacity: 0.8;
}

.form-container{
  display: flex;
  justify-content: center;
  padding-top: 65px;
  /* min-height: 100% */
}

.input-wrapper {
    position: relative;
    width: 400px;
    height: 35px;
    padding: 10px 10px 30px 0px;
}

.input-wrapper i {
    position: absolute;
    top: 22px;
    left: 10px;
    color: lightgray;
}

.input-wrapper input {
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

label{
    font-family:'Open Sans', Georgia, sans-serif;
}

.underline {
    border-bottom: solid 2px #acfdfe;
    width: 435px;
    padding: 15px 0px;
  }

.message{
    padding: 40px 10px 30px 0px;
}

.message textarea{
    width: 430px;
    height: 100px;
    margin-top: 10px;
    resize: none;
}

.submit-container{
    display: flex;
    justify-content: center;
}

#submit{
    background-color:aqua ;
    color: rgb(62, 60, 60);
    border: none;
    width: 110px;
    height: 30px;
    margin-right: 20px;
}

.press{
    padding-top: 4px;
}

.enter{
    color: black;
    font-weight: bold;
    padding: 5px 0px 0px 0px;
}

footer {
    padding-top: 40px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family:'Open Sans', Georgia, sans-serif;
}

 footer div:last-child{
    color:aqua ;
 }